body {
    color: white;
    background-color: black;
}

.video, .audio {
    text-align: center;
}

.svg1 {
    float: left;
}

.svg2 {
    float: right;
    margin: 100px 0;
}

.svg3 {
    float: left;
    margin: 40px 150px;
}