/* Greed */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.row{
    margin-bottom: 15px;
    display: flex;
}

[class*="col-"]{
    width: 100%;
    border: 2px solid white;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}

.container{
    margin-bottom: 10px;
    width: 100%;
}

.inner_container{
    width: 100%;
}

.offset-1{ margin-left: 8.33%}
.offset-2{ margin-left: 16.66%}
.offset-3{ margin-left: 25%}
.offset-4{ margin-left: 33.33%}
.offset-5{ margin-left: 41.66%}
.offset-6{ margin-left: 50%}
.offset-7{ margin-left: 58.33%}
.offset-9{ margin-left: 75%}
.offset-8{ margin-left: 66.66%}
.offset-10{ margin-left: 83.33%}
.offset-11{ margin-left: 91.66%}
.offset-12{ margin-left: 100%}

@media only screen and (min-width: 768px){
    .col-1{ width: 8.33%}
    .col-2{ width: 16.66%}
    .col-3{ width: 25%}
    .col-4{ width: 33.33%}
    .col-5{ width: 41.66%}
    .col-6{ width: 50%}
    .col-7{ width: 58.33%}
    .col-8{ width: 66.66%}
    .col-9{ width: 75%}
    .col-10{ width: 83.33%}
    .col-11{ width: 91.66%}
    .col-12{ width: 100%}

    .container{
        margin: 0 auto 10px;
        width: 600px;
    }

}

@media only screen and (min-width: 1000px){
    .container{
        margin: 0 auto 10px;
        width: 800px;
    }
}

@media only screen and (min-width: 1200px){
    .container{
        margin: 0 auto 10px;
        width: 1000px;
    }
}


/* Main styles */

*{
    font-family: "Arial", sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

/* Header */

.header{
    height: 300px;
    background: rgb(58, 94, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 2px red, -3px -3px 2px blue;
}

.header span::before{
    content: "the_";
    text-transform: lowercase;
}

.header span::after{
    content: "_site";
    text-transform: lowercase;
}

/* Main */

.image_box{
    height: 400px;
    position: relative;
}

.image_box>div{
    transform: scale(0.5);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .1s ease-in-out
}

.image_box>div:nth-child(1){
    background: url("img/ice-cream.jpg") no-repeat no-repeat center/cover;
    transform-origin: top left;
}

.image_box>div:nth-child(2){
    background: url("img/desert.jpg") no-repeat no-repeat center/cover;
    transform-origin: bottom left;
}

.image_box>div:nth-child(3){
    background: url("img/shutterstock.jpg") no-repeat no-repeat center/cover;
    transform-origin: top right;
}

.image_box>div:nth-child(4){
    background: url("img/sweat.jpg") no-repeat no-repeat center/cover;
    transform-origin: bottom right;
}

.image_box>div:hover{
    transform: scale(1);
    z-index: 3;
}

.text_block{
    font-family: "Times New Roman", Times, serif;
    height: 200px;
    background: #fff;
    overflow-x: auto;
}

.aside{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    box-shadow: inset 20px 20px 10px rgba(255, 136, 0, 0.897);
    writing-mode: vertical-rl;
    text-transform: uppercase;
    color: rgba(255, 136, 0, 0.897);
}
/* Footer */

.footer{
    text-align: center;
    color: white;
    background: rgb(58, 94, 139);
}

.footer [class*="col-"]{
    border: none;
    background: rgb(58, 94, 139);
    margin-bottom: 3px;
}

.footer .row{
    margin-bottom: 5px;
}

.logo{
    font-weight: 600;
    font-size: 30px;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}

.menu li a:hover{
    color: red;
}

.form span{
    text-transform: uppercase;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 5px;
}

.copyrights{
    font-size: 10px;
}

.fixed{
    padding: 10px;
    color: white;
    background: #000;
    border-radius: 20px;
    width: auto;
    display: flex;
    position: fixed;
    text-transform: uppercase;
    right: 10px;
}

.fixed .hide{
    display: none;
    margin-left: 10px;
}
.fixed:hover{
    cursor: pointer;
}

.fixed:hover .hide{
    display: block;
}