.text-shadow {
    background: #FFE6DB;
    color: #FFE6DB;
    font-family: "Arial", sans-serif;
    padding-top: 20px;
    vertical-align: middle;
    letter-spacing: .3em;
    height: 100px;
    text-shadow: 1px 0 rgba(250, 111, 142, .5), 4px 0 rgba(250, 111, 142, .4), 7px 0 rgba(250, 111, 142, .3), 10px 0 rgba(250, 111, 142, .2), 11px 0 rgba(250, 111, 142, .1);
    font-size: 50px;
    text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Lora);
body {margin:0;}
h2 {
    font-family: monospace;
    color: #606060;
}
nav {
    width: 660px;
    margin: 0 auto 30px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topmenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
.topmenu > li:last-child {
    margin-right: 0;
}
a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}
.fa {
    font-family: "FontAwesome", sans-serif;
    color: inherit;
    padding-left: 10px;
}
.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.four ul {
    background: #FFD7A7;
}
.four .submenu {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: #FFAB51;
}
.four ul li:hover .submenu {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}
.four ul a {
    color: #9B4222;
}

#boostrap a {
    font-size: 30px;
    text-align: center;
    color: darkorange;
    font-weight: bold;

}

#boostrap {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

[class*="box"]{
    height: 200px;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1{
    background: rgb(104, 114, 255);
}

.box-2{
    background: rgb(245, 255, 104);
}

.box-3{
    background: rgb(255, 104, 104);
}