*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

h1,
a{
    color: black;
    text-align: center;
}

ul{
    list-style: none;
}

li{
    border: 1px solid blue;
}

li:hover{
    background: white;
    color: #5380FC;
}

[class*="task-"]{
    margin-bottom: 20px;
}

/* 1 */

.task-1{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    border: 1px blue solid;
    background: #5380FC;
}

.task-1 li{
    text-align: center;
    padding: 15px 10px;
    height: 100%;
}

/* 2 */

.task-2{
    padding: 0 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: 1px blue solid;
    background: #5380FC;
}

.task-2 li{
    text-align: center;
    padding: 15px 10px;
    height: 100%;
}

/* 3 */

.task-3{
    padding: 0 10px;
    display: flex;
    justify-content: center;
    border: 1px blue solid;
    background: #5380FC;
}

.task-3 li{
    text-align: center;
    padding: 15px 10px;
    height: 100%;
}

/* 4 */

.task-4{
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: 1px blue solid;
    background: #5380FC;
}

.task-4 li{
    text-align: center;
    padding: 15px 10px;
    max-width: 150px;
}

/* 5 */

.task-5{
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px blue solid;
    background: #5380FC;
}

.task-5 li{
    text-align: center;
    padding: 15px 10px;
    height: 100%;
    max-width: 150px;
}

/* 6 */

.task-6{
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px blue solid;
    background: #5380FC;
}

.task-6 li{
    text-align: center;
    padding: 15px 10px;
    height: 100%;
    max-width: 150px;
}

/* 7 */

.task-7{
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    border: 1px blue solid;
    background: #5380FC;
}

.task-7 li{
    text-align: center;
    padding: 15px 10px;
    height: 100%;
    max-width: 150px;
}

/* 8 */

.task-8{
    padding: 0 10px;
    width: 40%;
    margin: 0 auto 15px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px blue solid;
    background: #5380FC;
}

.task-8 li{
    text-align: center;
    padding: 15px 10px;
    height: 100%;
}

/* 9 */

.task-9{
    width: 30%;
    margin: 0 auto 15px auto;
    display: flex;
    flex-direction: column;
    border: 1px blue solid;
    background: #5380FC;
}

.task-9 li{
    padding: 15px 10px;
    height: 100%;
}

/* 2.1 */

.task-2-1{
    width: 40%;
    margin: 0 auto 15px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px grey solid;
}

.task-2-1 li{
    background: #FF634C;
    margin: 1px;
    text-align: center;
    font-weight: bold;
    flex: 0 0 80px;
    padding: 15px 10px;
    height: 100%;
    border: none;
}

/* 3.1 */

.task-3-1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #5380FC;
}

.task-3-1 li{
    border: none;
    text-align: center;
    flex: 0 0 200px;
    padding: 15px 10px;
    height: 100%;
}

.task-3-1 li:first-child, .task-3-1 li:last-child{
    flex: 1 0 0;
    padding: 0;
}

/* 4.1 */

.task-4-1 footer, header{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-4-1 header{
    background: #00ffff;
    color: black;
}

.task-4-1 footer{
    background: blue;
}

.task-4-1 .content{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.task-4-1 .content>*{
    padding: 20px;
}

.task-4-1 aside{
    flex: 1 2 200px;
    background: yellow;
    color: black;
}

.task-4-1 main{
    flex: 2 0 300px;
    background: #90EE90;
    color: black;
    text-align: justify;
}

.task-4-1 nav{
    flex: 1 2 200px;
    background: deeppink;
    color: black;
}

/* 4.2 */

.task-4-2 footer, header{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-4-2 header{
    background: #00ffff;
    color: black;
}

.task-4-2 footer{
    background: blue;
}

.task-4-2 .content{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.task-4-2 .content>*{
    padding: 20px;
}

.task-4-2 aside{
    width: 20%;
    background: yellow;
    color: black;
}

.task-4-2 main{
    width: 50%;
    background: #90EE90;
    color: black;
    text-align: justify;
}

.task-4-2 nav{
    width: 30%;
    background: deeppink;
    color: black;
}

@media only screen and (max-width: 700px){

    .task-4-2 aside{
        order: 3;
        width: 50%;
    }

    .task-4-2 main{
        order: 1;
        width: 100%;
    }

    .task-4-2 nav{
        order: 2;
        width: 50%;
    }

}

@media only screen and (max-width: 530px){

    .task-4-2 aside{
        order: 3;
        width: 100%;
    }

    .task-4-2 main{
        order: 1;
        width: 100%;
    }

    .task-4-2 nav{
        order: 2;
        width: 100%;
    }

}