*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
body{
    margin:0;
    padding:0;
    font-family: Poppins, Roboto;
}
.container{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

[class*="task"]{
    padding: 20px ;
    margin: 5px 0;
    border-bottom: 2px solid black;
}
/* transition */
.task-1 .block{
    width:200px;
    height:100px;
    -webkit-transition:background-color 1s;
    transition:background-color 1s;
    border:2px solid red;
}
.task-1 .block:hover{
    background-color:red;
}
.task-2 .block{
    width:200px;
    height:100px;
    color:red;
    -webkit-transition:background-color 1s, color 1s;
    transition:background-color 1s, color 1s;
    border:2px solid red
}
.task-2 .block:hover{
    background-color:red;
    color:white
}
.task-3 .block{
    width:200px;
    height:50px;
    -webkit-transition:width 1s;
    transition:width 1s;
    border:2px solid red
}
.task-3 .block:hover{
    width:100%
}
.task-4 .block{
    width:200px;
    height:50px;
    color:red;
    -webkit-transition:width 1s, font-size 1s;
    transition:width 1s, font-size 1s;
    border:2px solid red
}
.task-4 .block:hover{
    width:100%;
    font-size:30px
}
.task-5 .block{
    width:200px;
    height:50px;
    -webkit-transition:width 2s, margin-left 2s;
    transition:width 2s, margin-left 2s;
    border:2px solid red;
}
.task-5 .block:hover{
    width:70%;
    margin-left:20%
}
.task-6 .block{
    width:200px;
    height:50px;
    border:2px solid red;
    position:relative
}
.task-6 .block span{
    display:block;
    position:absolute;
    -webkit-transition:left 1s;
    transition:left 1s;
    left:2000px;
    top:10px;
    white-space:nowrap
}
.task-6 .block:hover span{
    left:10px;
}
.task-7 .block{
    width:200px;
    height:50px;
    -webkit-transition:width 2s 2s;
    transition:width 2s 2s;
    border:2px solid red;
}
.task-7 .block:hover{
    width:100%;
}
.task-8 input{
    padding:4px 2px;
    -webkit-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}
.task-8 input:focus{
    padding-right:200px;
    -webkit-box-shadow:0 0 2px blue;
    box-shadow:0 0 2px blue;
}
.task-9 .block{
    width:200px;
    height:50px;
    -webkit-transition:width 2s;
    transition:width 2s;
    border:2px solid red;
    margin-bottom:5px
}
.task-9:hover .block{
    width:100%;
}
.task-10 .block{
    width:200px;
    height:50px;
    -webkit-transition:width 2s;
    transition:width 2s;
    border:2px solid red;
    margin-bottom:5px;
}
.task-10 .block:hover+.block{
    width:100%;
}
.task-11 .block{
    width:200px;
    height:50px;
    -webkit-transition:width 2s;
    transition:width 2s;
    border:2px solid red;
    margin-bottom:5px}
.task-11 .block:hover ~ .block{
    width:100%;
}
.task-12 .block{
    width:200px;
    height:50px;
    -webkit-transition:width 2s;
    transition:width 2s;
    border:2px solid red;
    margin-bottom:5px;
}
.task-12 .block:hover+.block+.block{
    width:100%;
}
.task-13 .block{
    width:100%;
    height:50px;
    border:2px solid red;
    margin-bottom:5px;
    text-align: center;
    vertical-align: center;
}
.task-13 .block:last-child{
    width:200px;
    color:white;
    background:red;
    margin-left:-300px;
    -webkit-transition:margin-left .4s ease-in-out;
    transition:margin-left .4s ease-in-out;
}
.task-13 .block:hover+.block{
    margin-left:200px;
}
.task-14 .block{
    width:20%;
    height:50px;
    border:2px solid red;
    margin-bottom:5px;
    -webkit-transition:width 5s steps(8, start);
    transition:width 5s steps(8, start);
}
.task-14 .block:last-child{
    -webkit-transition:width 5s steps(8, end);
    transition:width 5s steps(8, end);
}
.task-14:hover .block{
    width:100%;
}
.task-15 .block{
    width:20%;
    height:50px;
    border:2px solid red;
    -webkit-transition:width 3s cubic-bezier(0.73, -0.31, 0.3, 1.31);
    transition:width 3s cubic-bezier(0.73, -0.31, 0.3, 1.31);
}
.task-15 .block:hover{
    width:100%;
}
.task-16 .block{
    width:100%;
    height:50px;border:2px solid red;
}
.task-16 .block .block{
    border:none;
     background:red;
     height:100%;
     -webkit-transition:width 3s;
     transition:width 3s;
     width:0;
}
.task-16 .block:hover .block{
    width:100%;
}
.task-17 .block{
    width:100%;
    height:50px;
    border:2px solid red;
}
.task-17 .block .block{
    border:none;
    background:red;
    height:100%;
    -webkit-transition:width 3s steps(10, end);
    transition:width 3s steps(10, end);
    width:0;
}
.task-17 .block:hover .block{
    width:100%;
}
.task-18 .block{
    width:10%;
    margin:30px 0 150px 100px;
    height:50px;
    border:2px solid red;
    -webkit-box-shadow:150px -50px black, -40px 100px black;
    box-shadow:150px -50px black, 40px 100px black;
    -webkit-transition:-webkit-box-shadow 1s;
    transition:-webkit-box-shadow 1s;
    transition: box-shadow 1s;
    transition: box-shadow 1s, -webkit-box-shadow 1s;
}
.task-18 .block:hover{
    -webkit-box-shadow:150px 100px black, 150px 100px black;
    box-shadow:150px 100px black, 150px 100px black;
}
/* animation */
@-webkit-keyframes task-19{
    from{
        margin-left:0;
    }
    to{
        margin-left:calc(100% - 50px);
    }
}
@keyframes task-19{
    from{
        margin-left:0;
    }
    to{
        margin-left:calc(100% - 50px);
    }
}
.task-19 .block{
    width:50px;
    height:50px;
    border:2px solid red;
    -webkit-animation:task-19 4s 3;
    animation:task-19 4s 3;
}
.task-20 .block{
    width:50px;
    height:50px;
    border:2px solid red;
    -webkit-animation:task-19 4s infinite;
    animation:task-19 4s infinite;
}
@-webkit-keyframes task-21{
    from{
        background:white;
    }
    to{
        background:red;
    }
}
@keyframes task-21{
    from{
        background:white;
    }
    to{
        background:red;
    }
}
.task-21 .block{
    width:100px;
    height:100px;
    border:2px solid red;
    -webkit-animation:task-21 4s infinite;
    animation:task-21 4s infinite;
}
@-webkit-keyframes task-22{
    from,to{
        margin:0 0 100px 0;
    }
    25%{
        margin:0 0 100px 300px;
    }
    50%{
        margin:80px 0 20px 300px;
    }
    75%{
        margin:80px 0 20px 0;
    }
}
@keyframes task-22{
    from,to{
        margin:0 0 100px 0;
    }
    25%{
        margin:0 0 100px 300px;
    }
    50%{
        margin:80px 0 20px 300px;
    }
    75%{
        margin:80px 0 20px 0;
    }
}
.task-22 .block{
    width:20px;
    height:20px;
    margin:0 0 100px 0;
    border:2px solid red;
    -webkit-animation:task-22 4s infinite;
    animation:task-22 4s infinite;
}
@-webkit-keyframes task-23{
    from,to{
        background:white;
    }
    50%{
        background:red;
    }
}@keyframes task-23{
     from,to{
         background:white;
     }
     50%{
         background:red;
     }
 }
.task-23 .block{
    width:20px;
    height:20px;
    margin:0 0 100px 0;
    border:2px solid red;
    -webkit-animation:task-22 8s infinite, task-23 2s infinite;
    animation:task-22 8s infinite, task-23 2s infinite;
}
.task-24 .block{
    width:50px;
    height:50px;
    border:2px solid red;
    -webkit-animation:task-19 3s infinite;
    animation:task-19 3s infinite;
    -webkit-animation-timing-function:ease-in-out;
    animation-timing-function:ease-in-out;
    -webkit-animation-direction:alternate;
    animation-direction:alternate;
    -webkit-animation-delay:1s;
    animation-delay:1s;
}
.task-25 .block{
    width:50px;
    height:50px;
    border:2px solid red;
    -webkit-animation:task-19 2s infinite;
    animation:task-19 2s infinite;
    webkit-animation-timing-function:ease-in-out;
    animation-timing-function:ease-in-out;
    -webkit-animation-direction:alternate;
    animation-direction:alternate;

}
@-webkit-keyframes task-26{
    from{
        width:0;
    }
    to{
        width:100%;
    }
}
@keyframes task-26{
    from{
        width:0;
    }
    to{
        width:100%;
    }
}
.task-26 .block{
    width:100%;
    height:50px;
    border:2px solid red;
}
.task-26 .block .block{
    background-color:red;
    border:none;
    height:100%;
    -webkit-animation:task-26 5s linear;
    animation:task-26 5s linear;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}
.task-27 .block{
    width:100%;
    height:50px;
    border:2px solid red;
}
.task-27 .block .block{
    background-color:red;
    border:none;height:100%;
    -webkit-animation:task-26 3s linear infinite;
    animation:task-26 3s linear infinite;
}
@-webkit-keyframes task-28{
    from{
        width:50px;
    }
    to{
        width:100%;
    }
}
@keyframes task-28{
    from{
        width:50px;
    }
    to{
        width:100%;
    }
}
.task-28 .block{
    width:50px;
    height:50px;
    border:2px solid red;
    -webkit-animation:task-28 5s infinite;
    animation:task-28 5s infinite;
    -webkit-animation-play-state:paused;
    nimation-play-state:paused;
}
.task-28 .block:hover{
    -webkit-animation-play-state:running;
    animation-play-state:running;
}
.task-29 .block{
    width:50px;
    height:50px;
    border:2px solid blue;
    vertical-align: center;
    text-align: center;
}
.task-29 .block:first-of-type{
    margin:0 0 10px 0;
    width:200px;
    border:2px solid red;
}
.task-29 .block:last-of-type{
    -webkit-animation:task-28 5s infinite;
    animation:task-28 5s infinite;
    -webkit-animation-play-state:paused;
    animation-play-state:paused;
}
.task-29 .block:hover+.block{
    -webkit-animation-play-state:running;
    animation-play-state:running;
}
@-webkit-keyframes task-30{
    40%,70%,90%{
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out;
        bottom:0;
    }
    0%{
        bottom:200px;
        left:0;
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
    }
    55%{
        bottom:50px;
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    80%{
        bottom:25px;
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
    }
    95%{
        bottom:10px;
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
    }
    100%{
        left:110px;
        bottom:0;
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out;
    }
}
@keyframes task-30{
    40%,70%,90%{
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out;
        bottom:0;
    }
    0%{
        bottom:200px;
        left:0;
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
    }
    55%{
        bottom:50px;
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
    }
    80%{
        bottom:25px;
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
    }
    95%{
        bottom:10px;
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
    }
    100%{
        left:110px;
        bottom:0;
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out;
    }
}
.task-30>.block{
    width:200px;
    top:0;
    left:0;
    height:200px;
    border:2px solid red;
    position:relative;
}
.task-30>.block .block{
    height:20px;
    width:20px;
    border-radius:50%;
    position:absolute;
    background:red;
    -webkit-animation:task-30 3s infinite;
    animation:task-30 3s infinite;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
}
/* counter */
[class*="list-"] ul{
    list-style:none;
    counter-reset:item;
}
[class*="list-"] ul li{
    counter-increment:item;
}
[class*="list-"] ul li:before{
    content:counters(item, ".") " ";
}
.list-1 li:before{
    display:inline-block;
    padding:2px;
    background-color: green;
    color:yellow;
    border:2px solid yellow;
    margin:3px 4px 3px 0;
}
.list-1 li:hover:before{
    color:blue;
    background:yellow;
    border:2px solid blue;
}
.list-2{
    margin-bottom:200px;
}
.list-2 h1{
    text-align:center;
    color:red;
    border-bottom:1px solid black;
}
.list-2 ul{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
}
.list-2 ul .col:first-of-type{
    margin:0 50px 0 0;
}
.list-2 ul li{
    border-bottom:1px solid black;
    margin:2px 0;
    padding:2px;
    font-size:20px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:end;
    -ms-flex-align:end;
    align-items:flex-end;
}
.list-2 ul li:before{
    display:inline-block;
    line-height:40px;
    text-align:center;
    height:40px;
    width:40px;
    background: #00f7ff;
    color:white;
    border-radius:50%;
    margin-right:5px;
    font-weight: bold;
}
