body{
    margin: 10px 20px;

    /*color: white;
    background-color: #000000;*/
}

/*background*/
.background {
    width: 90%;
    margin: 10px 5%;
}

.background .block {
    width: 1360px;
}

.background .bg1 {
    width: 680px;

    float: left;
}

.background .block1 {
    background: url("images/task1/0.png") no-repeat 0 0/contain;
}

.background .block2 {
    background: url("images/task1/6.png") no-repeat 130px 90px/100px;
}

.background .block3 {
    background: url("images/task1/5.png") no-repeat 150px 160px/155px;
}

.background .block4 {
    background: url("images/task1/3.png") no-repeat 415px 200px/120px;
}

.background .block5 {
    background: url("images/task1/2.png") no-repeat 525px 180px/150px;
}

.background .block6 {
    background: url("images/task1/4.png") no-repeat 480px 300px/110px;
}

.background .block7 {
    height: 500px;
    background: url("images/task1/1.png") no-repeat 0 bottom/300px;
}

.background .bg2 {
    width: 680px;
    height: 500px;
    background:
            url("images/task1/1.png") no-repeat 0 bottom/300px,
            url("images/task1/4.png") no-repeat 480px 300px/110px,
            url("images/task1/2.png") no-repeat 525px 180px/150px,
            url("images/task1/3.png") no-repeat 415px 200px/120px,
            url("images/task1/5.png") no-repeat 150px 160px/155px,
            url("images/task1/6.png") no-repeat 130px 90px/100px,
            url("images/task1/0.png") no-repeat 0 0/contain;
    float: right;
}

/*sprite*/
.sprite {
    width: 90%;
    margin: 10px 5%;
}

.sprite [class*=block] {
    width: 100px;
    height: 100px;
    margin: -2px;

    display: inline-block;
    background: url("images/task2/white_sprait.png") no-repeat;
}

.sprite .block1 {
    background-color: red;
    background-position: 0 0;
}

.sprite .block2 {
    background-color: deepskyblue;
    background-position: -100px 0;
}

.sprite .block3 {
    background-color: orange;
    background-position: -200px 0;
}

.sprite .block4 {
    background-color: blue;
    background-position: -300px 0;
}

.sprite .block5 {
    background-color: orangered;
    background-position: -400px 0;
}

.sprite .block6 {
    background-color: blue;
    background-position: 0 -100px;
}

.sprite .block7 {
    background-color: yellow;
    background-position: -100px -100px;
}

.sprite .block8 {
    background-color: red;
    background-position: -200px -100px;
}

.sprite .block9 {
    background-color: deepskyblue;
    background-position: -300px -100px;
}

.sprite .block10 {
    background-color: blue;
    background-position: -400px -100px;
}

/*form*/
.form {
    width: 90%;
    margin: 10px 5%;

    padding: 20px;
    background-color: white;
    color: black;

    font-family: sans-serif;
    font-size: 15px;
}

.form form {
    width: 450px;
    background-color: #e1e1e1;
}

.form input[type=email],
.form input[type=password],
.form input[type=text],
.form select {
    width: 250px;
    height: 25px;
}

.form textarea {
    width: 240px;
    height: 100px;
}

.form input[type=email],
.form input[type=text] {
    border: 2px solid #9b9a00;
    background-color: rgba(212, 208, 0, 0.4);
}

.form input[type=password] {
    border: 2px solid #9b008a;
    background-color: rgba(155, 0, 138, 0.4);
}

.form select {
    border: 2px solid #01059b;
    background-color: rgba(1, 5, 155, 0.4);
}

.form textarea {
    border: 2px solid #109b00;
    background-color: rgba(16, 155, 0, 0.4);
}

.form td:nth-child(1){
    text-align: right;
    font-weight: bold;
}

.form input[type=submit] {
    background-color: rgba(16, 155, 0, 0.5);
}

.form input[type=reset] {
    background-color: rgba(155, 0, 138, 0.5);
}

.form label[for="female-field"] {
    color: red;
}

/*menu*/
.menu {
    width: 90%;
    margin: 10px 5%;

    font-size: 24px;
}

.menu li {
    display: inline-block;
}

.menu a {
    padding: 10px;

    border: 2px solid #B0C7D8;
    border-radius: 5px;

    text-decoration: none;
    color: #d7d7d7;
}

.menu a:hover {
    background-color: #7b93a5;
    color: white;
}

/*graduates*/
.graduates {
    width: 60%;
    margin: 10px auto;
}

.graduates p{
    line-height: 1.5em;
}

.graduates .title > span {
    font: bold 26px "Open Sans", sans-serif;
    color: #333;
    margin: 0 0 13px;
    padding: 0 0 0 46px;
}

.graduates .title > span::before {
    /*content: url("images/icon-users.PNG");*/
    content: url("images/icon-users.PNG");
    display: inline-block;
    width: 50px;
    height: 40px;
    vertical-align: bottom;
}

.graduates .title > p {
    font: 16px "Open Sans", sans-serif;
    color: #333;
    padding: 0 0 0 96px;
}

.graduates .review {
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 50px;

    font: 16px "Open Sans", sans-serif;
    color: #333;
    font-style: italic;
}

.graduates .picture > img {
    border-radius: 50%;
    padding: 0 10px;
}

.graduates .picture > p {
    font-size: 14px;
    text-align: center;
}

.graduates .text {
    margin: -50px 30px;
}

.graduates .quote::before {
    content: open-quote;
    font-size: 70px;
    color: grey;
}

.graduates p + p::after {
    content: close-quote;
    font-size: 80px;
    color: grey;
    margin: 0 -30px 0 0;
}

.graduates .text p + p {
    text-align: right;
}

.graduates .text p + p::before {
    content: '\2014\0000a0';
    font-size: 16px;
    color: black;
}