body {
    margin: 0 auto;
    padding: 10px;
}

.header_a {
    padding: 10px;

    border: 2px solid darkblue;
    background-color: lightyellow;
}

table {
    border-collapse: collapse;
    margin-left: 30%;
    margin-bottom: 20px;

    text-align: center;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

.table-1, .table-2 {
    width: 380px;

    border: 1px solid black;
    border-collapse: separate;
}

.table-2 {
    text-align: left;
    vertical-align: bottom;
}

.table-2 img {
    width: 90px;
}

.table-4 {
    width: 500px;
}

.table-4 thead{
    background-color: #fdd866;
}

.table-4 tfoot {
    font-weight: bold;
    background-color: #538035;
}

.table-4 tfoot tr:first-child {
    text-align: right;
}

.table-5 td{
    font-family: Helvetica, monospace, sans-serif;
    text-transform: uppercase;
    border: 2px solid darkred;

    text-align: left;
    vertical-align: top;
}

.table-5 .blue {
    background-color: #0d2b6d;
}

.table-5 .orange {
    background-color: #e6ce9b;
}

.table-6 {
    width: 370px;
}

.table-6 td{
    font-family: Helvetica, monospace, sans-serif;
    text-transform: uppercase;
    border: 2px solid lightgreen;

    text-align: left;
    vertical-align: top;
}

.table-6 .content {
    background-color: #bedea5;
}

.table-6 .menu {
    background-color: #d2cf00;
}

.table-6 .green {
    background-color: #113b02;
    color: #d2cf00;
}

.table-7 {
    width: 370px;
}

.table-7 td{
    font-family: Helvetica, Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    border: 2px solid darkred;

    text-align: left;
    vertical-align: top;
}

.table-7 .news {
    vertical-align: middle;
    background-color: #43025b;
    color: #ffffff;
}

.table-7 .head {
    background-color: #7b2de6;
    color: #200540;
}

.table-7 .menus {
    background-color: #c9acf1;
}

.table-7 .contents {
    background-color: #e6ce9b;
    height: 150px;
}

.head-style {
    height: 50px;
}