body {
    background-color: black;
    color: white;
}

h1, h2 {
    text-align: center;
}

div {
    width: 90%;
    margin: 10px;
}

div img {
    width: 400px;
    margin: 10px;
}

div.galery {
    display: flex;
}

figure {
    padding: 0;
    margin: 0;
}

figcaption {
    position: absolute;
    width: 400px;
    height: 45px;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-size: 24px;
    text-align: left;
    vertical-align: middle;
    margin: -60px 10px;
    color: white;
    background-color: rgba(0, 0, 255, 0.5);
    text-transform: uppercase;
}

.on-menu {
    position: fixed;
    bottom: 2%;
    right: 1%;
    border: 1px solid rgba(25,226,255,0.8);
}

div h2+p {
    margin-left: 100px;
    line-height: 30px;
}

li {
    font-size: 18px;
    list-style: none;
}

.cafedra>a{
    text-decoration: none;
    color: #19c7e4;
}

li a:hover{
    font-size: 20px;
    color: #ff11de;
}

section {
    width: 90%;
    margin: 50px;
    line-height: 30px;
}

section h3 {
    border: 2px solid white;
    width: max-content;
    padding: 5px 15px;
}

section p img {
    width: 200px;
    margin: 10px 30px;
}

.text {
    text-align: justify;
    width: 100%;
}