/* gradient */
.gradient {
    margin: 20px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background: linear-gradient(to right, darkgrey 70%, white);
    height: 110vh;
    padding: 30px;
    box-sizing: border-box;
}

.gradient .date{
    width: 60px;
}

.gradient .year{
    position: absolute;
    right: 50px;
    top: 150px;
}

.gradient main{
    margin: 50px auto 0;
    width: 600px;
}

.gradient main .time{
    font-size: 50px;
}

.gradient main .time span{
    font-size: 20px;
}

.gradient .weather{
    background: black;
    color: white;
    width: 400px;
    z-index: 1;
    margin: 20px auto 0;
    padding: 10px;
    height: 400px;
    position: relative;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.gradient .weather .close,
.gradient .weather-week .close img {
    position: absolute;
    top: 10px;
    right: 10px;
}

.gradient .weather .close img,
.gradient .weather-week .close img {
    width: 40px;
    opacity: 0.8;
}

.gradient .weather .middle{
    height: 65%;
}

.gradient .weather .bottom{
    position: relative;
    bottom: 10px;
}

.gradient .weather .bottom .date{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 200px;
    font-size: 14px;
    text-align: right;
}

.gradient .weather .middle img{
    margin: 40px 70px;
    width: 500px;
}

.gradient .weather .middle .controls {
    display: inline;
    position: absolute;
    top: 30%;
    left: -80px;
}
.gradient .weather .middle .controls div{
    width: 80px;
    height: 80px;
    background: rgba(128, 128, 128, 0.71);
    display: inline-block;
}

.gradient .weather .middle .controls div:first-child {
    box-shadow: -3px 3px 3px #707070;
}

.gradient .weather .middle .controls div:last-child{
    margin-left: -5px;
}

.gradient .weather .controls .left-arrow img,
.gradient .weather .controls .right-arrow img {
    margin: 5px 10px;
    width: 65px;
}

.gradient .weather .bottom .temperature{
    font-size: 100px;
    margin-left: 20px;
    position: relative;
    font-weight: 600;
    font-family: 'Segoe UI', sans-serif;
    opacity: 0.5;
}

.gradient .weather .bottom .temperature span{
    position: absolute;
    left: 100px;
}

.gradient .weather .bottom .date {
    opacity: 0.5;
    font-size: 20px;
}

.gradient .weather-week{
    background: rgba(204, 204, 204, 0.71);
    width: 400px;
    margin-top: -100px;
    margin-left: calc(100% - 300px);
    padding: 10px;
    position: relative;
    z-index: 0;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.4);
}

.gradient .weather-week .days{
    margin: 100px 0 50px;
    display: flex;
    justify-content: space-around;
}

.gradient .weather-week .day{
    text-align: center;
}

.gradient .weather-week .day > span:first-child {
    color: grey;
}

.gradient .weather-week .day .temperature {
    margin-left: 15px;
    font-size: 30px;
}

.gradient .sphere{
    background: radial-gradient(circle at top left,rgba(73, 80, 87, 0.8) 20%, rgba(0, 0, 0, 0.9));
    margin: -80px 70px 0;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

/* menus */
.menus {
    font-family: "Lato", sans-serif;
    background: rgb(40, 44, 47);
}

.menus a{
    text-decoration: none;
    color: white;
}

.menus header{
    height: 100vh;
    background: rgb(30, 31, 32);
    padding: 30px 0 0 0;
}

.menus .outer_content{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.menus .content{
    width: 680px;
    margin: 0 auto;
}

.menus .menu{
    display: flex;
    justify-content: flex-start;
}

.menus .menu li{
    margin-left: 10px;
    list-style: none;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 5px 3px;
}

.menus .menu li a{
    color: #3CF;
    text-shadow: -1px 0 1px white, 1px 0 1px white, 0 0 8px white;
}

.menus .menu li:hover a{
    font-size: 25px;
    cursor: pointer;
    color: #60FFE2;
}

.menus .menu li:first-of-type{
    margin: 0;
}

.menus .heading{
    display:flex;
    margin-top: 20%;
}

.menus .heading h1{
    color: #60FFE2;
    display: block;
    width: 40%;
    text-align: center;
    font-size: 100px;
    text-shadow:
            2px 2px rgb(30, 31, 32),
            5px 5px #60FFE2;
}

.menus .heading h1 span{
    text-transform: uppercase;
    font-size: 150px;
}
.menus .big-box{
    width: 500px;
    height: 500px;
    display: grid;
}

.menus .box{
    width: 250px;
    height: 250px;
    background: white;
    margin-top: -70px;
}

.menus .box:nth-child(1), .box:nth-child(4){
    background: #60FFE2;
}

.menus .box:nth-child(2){
    grid-column: 2/3;
    border-radius: 0 80% 0 0;
}

.menus .box:nth-child(3){
    border-radius: 0 0 0 80%;
}

.menus h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #60FFE2;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 60px;
}

.menus main{
    padding: 100px 0;
}

.menus .text{
    color: rgb(218, 218, 218);
    line-height: 1.58;
    font-size: 21px;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

/* info */
.info {
    font-family: "Lato", sans-serif;
    background: #1c2227;
    color: white;
}

.info a{
    text-decoration: none;
    color: white;
}

.info header{
    height: 20vh;
    background: linear-gradient(to left, #232e35 80%, white);
    padding: 30px 0 0 0;
}

.info .outer-content{
    width: 1000px;
    margin: 0 auto;
}

.info .content{
    width: 680px;
    margin: 0 auto;
}

.info .menu{
    display: flex;
    justify-content: flex-end;
    padding: 30px 0 35px;
}

.info .menu li{
    margin-left: 10px;
    list-style: none;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 5px 3px;
}

.info .menu li a{
    color: #3CF;
}

.info .menu li:hover a{
    cursor: pointer;
    color: #ee394e;
    text-shadow: -1px 0 1px white, 1px 0 1px white, 0 0 6px white;
}

.info .menu li:first-of-type{
    margin: 0;
}

.info .outer-content .logo img{
    width: 90px;
    position: absolute;
    margin: -110px 0 0 1100px;
}

@keyframes rotate {
    100% {transform: rotate(360deg);}
}

.info .outer-content .logo img:hover{
    animation: rotate 3s linear infinite;
}

.info .back img{
    margin-top: 100px;
    margin-left: 200px;
    width: 1000px;
    opacity: 0.2;
}

.info  h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #60FFE2;
    font-weight: 600;
    font-size: 36px;
    margin-left: 150px;
    margin-bottom: 60px;
    text-shadow:
            2px 2px #1e1f20,
            3px 3px 5px darkgrey;
}

.info .text{
    color: rgb(218, 218, 218);
    line-height: 1.58;
    font-size: 20px;
    margin-left: 200px;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}
.info main {
    width: 80%;
}

.info footer{
    color: #333333;
    background: #232e35;
    font: 16px Georgia, serif;
    height: 100px;
    padding: 35px 0 30px;
}

.info footer .wrapper{
    margin: 0 182px 0 182px;
}

.info footer .wrapper .cr{
    color: #4a5359;
    font-size: 14px;
    padding: 35px 0 10px;
}

.info footer .fm{
    text-transform: uppercase;
    font-family: 'Stem Web', serif;
    color: #ee394e;
    letter-spacing: 0.2em;
    text-align: center;
}

.info footer .fm span {
    position: relative;
    padding: 0 15px 0 0;
    bottom: 20px;
}

.info footer .fm span:after {
    content: "";
    position: absolute;
    top: 3px;
    right: 0;
    width: 10px;
    height: 10px;
    background: url(https://redcollar.ru/resources/images/heart.svg);
}
