/* Common */

body{
  margin: 0;
  padding: 0;
  font-family: Poppins, Roboto;
}

section{
  padding: 60px 10px;

  .heading{
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 40px;
  }
}
// *Nav

.navbar{
  background-color: rgb(39, 24, 111);
}

// *Header

header{
  height: 100vh;
  position: relative;

  img{
    height: 100vh;
    object-fit: cover;
  }

  &::after{
    content: "";
    position: absolute;
    display: block;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100%;
    background: #000;
    opacity: 0.5;
  }

  .heading{
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .row{
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-weight: 800;

    [class*="col"]{
      color: white;
      text-transform: uppercase;
      text-align: center;
    }

  }

  .headline span{
    font-size: 108px;
  }

  .under span{
    font-family: Lora;
    text-transform: initial;
    font-weight: normal;
  }

  .row:first-child{
    margin-bottom: -20px;
  }

  .row:last-child{
    margin-top: 40px;
  }
}


// *About us
.about-us{
  text-align: center;
}

// *Products
.card{
  margin: 10px 0;
  transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;

  &:hover{
    transform: translate(0, -10px);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.418);
  }
  .card-img-top{
    height: 350px;
    object-fit: cover;
  }
}

// *Contact us

#contact-us{
  position: relative;

  .container{
    position: relative;
    z-index: 2;
    color: white
  }

  &::before{
    content: "";
    width: 100%;
    z-index: 0;
    background: url("img/bg-2.jpg") no-repeat no-repeat center/cover;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
  }

  &::after{
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    opacity: 0.5;
  }

  .order{
    width: 100%;
  }
}

// *Footer

footer{
  background: rgba(0, 0, 0, 0.863);

  .container{
    padding: 10px 0
  }

  a{
    color: white;
  }

  i{
    font-size: 25px;
  }

}


// !Media

@media only screen and (max-width: 1024px){
  header{
    .headline span{
      font-size: 80px;
    }
  }
}


@media only screen and (max-width: 512px){
  header{
    .headline span{
      font-size: 50px;
    }
  }
}