body {
    margin: 10px 20px;

    color: white;
    background-color: #252525;
}

/* task1 */
#task1 {
    width: 90%;
    margin: 10px 5%;

    padding: 20px;
    background-color: white;
    color: black;
}

#task1 p {
    color: green;
    text-align: center;
}

#task1 .paragraph-red {
    color: red;
}

#task1 #paragraph-pink {
    color: deeppink;
}

#task1 a {
    color: white;
}

#task1 > a {
    color: red;
}

#task1 > ul a {
    color: deeppink;
}

#task1 > ul > li > a {
    text-decoration: none;
    color: green;
}

#task1 > ul ul {
    list-style-type: none;
}

#task1 > ul > li:last-child li {
    list-style-type: square;
}

#task1 > ul > li:last-child li > a {
    text-decoration: none;
}

/* task2 */
#task2 {
    width: max-content;
    margin: 10px 5%;

    padding: 20px;
    background-color: white;
    color: black;
}

#task2 h1 + p {
    font-size: 20px;
}

#task2 p > code {
    color: red;
}

#task2 p + code {
    color: deeppink;
}

/* task3 */
#task3 {
    width: 300px;
    margin: 10px 5%;

    padding: 5px 0;
    background-color: white;
}

#task3 ul {
    width: 80%;
    list-style-type: none;
}

#task3 ul > li {
    padding: 5px;
    margin: 5px;

    background-color: green;
}

#task3 ul > li > ul,
#task3 ul > li > ul li{
    width: 90%;
    padding: 5px;
    margin: 5px;

    background-color: darkorange;
    color: black;
}

/* task4 */
#task4 {
    width: max-content;
    margin: 10px 5%;
    padding: 10px;

    background-image: url("images/sky-fone.jpg");
}

#task4 div {
    padding: 2px;
    border-style: inset;
    border-width: 3px;
    border-color: blue yellow green red;
}

#task4 div > h1 {
    margin: 0;
    color: red;
    font-size: 28px;
}

#task4 div > ol {
    color: yellow;
}

#task4 div li:nth-child(2) > span {
    vertical-align: sub;
}

#task4 div li:nth-child(2) > span + span {
    vertical-align: super;
}

#task4 div li:nth-child(3) > span {
    text-decoration: line-through;
}

#task4 div li:nth-child(7) > span {
    text-decoration: underline;
}

#task4 div hr + p {
    font-style: italic;
}

#task4 div p + p {
    color: blue;
}

#task4 img {
    margin: 10px;
    width: 200px;
}

/* task5 */
#task5 {
    width: 450px;
    margin: 10px 30px;

    padding: 20px;
    background-color: white;

    font-size: 14px;
    font-family: "Arial", sans-serif;
}

.logo,
.contacts,
.about-us,
.main-menu,
.footer {
    padding: 10px 20px 10px 20px;

    background-color: #f5f5f5;
    border: 2px solid #cccccc;
}

.header {
    min-height: 40px;
    margin-bottom: 20px;
}

.logo,
.contacts,
.footer {
    background-color: #333333;
    color: #ffffff;
}

.logo {
    float: left;
    width: 230px;

    text-align: center;
    font-weight: bold;
}

.contacts {
    float: right;
    width: 110px;

    text-align: center;
    font-style: italic;
}

.about-us {
    width: 230px;
    margin-bottom: 20px;

    color: black;
    float: left;
}

.about-us h1 {
    font-size: 20px;
}

.about-us p {
    font-size: 12px;
}

.main-menu {
    width: 110px;

    float: right;
}

.footer {
    clear: both;
}

/* task6 */
#task6 {
    width: 500px;
    margin: 10px 5%;
    color: black;
}

#task6 form {
    padding: 20px;
    background-color: white;
}

#task6 fieldset {
    border: 1px solid green;
    background: #e1e3b8 url("images/check-bg.png") no-repeat 10px 10px;
}

#task6 fieldset legend {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #A35D43;
}

#task6 legend + h3 {
    font-size: 16px;
}

#task6 h3 + p {
    margin-left: 145px;
    line-height: 35px;
}

#task6 [type="submit"] {
    background-color: #B98F5C;
    border: 1px solid white;
    color: white;
}
